<ion-header no-border>
    <ion-toolbar color="secondary">

        <ion-buttons *ngIf="!pService.procesoFinalizado" slot="start">
            <ion-button (click)="irLista()">
              <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
            </ion-button>
        </ion-buttons>

      <ion-title>Vivienda</ion-title>

      <ion-buttons slot="end">
          <ion-button style="font-size: 10px;" (click)="salirApp()">
            Salir
          </ion-button>
      </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content padding>
<div *ngIf="!pService.procesoFinalizado">

    <ion-item class="item_ingreso">
        <ion-label>¿Encontró la vivienda?</ion-label>
        <p *ngIf="!existe_vivienda">No</p>
        <p *ngIf="existe_vivienda">Si</p>
        <ion-toggle [(ngModel)]="existe_vivienda" (ionChange)="change_existe()" color="primary"></ion-toggle>
    </ion-item>

    <div *ngIf="existe_vivienda">
    <ion-item class="item_specifying">
        <ion-label>Fotografía del exterior de la vivienda</ion-label>
    </ion-item>

    <div text-center (click)="tomarFoto(1)">
    <ion-card-content class="imagenes" *ngIf="!photos.get(1)" color="darck">
        <img src="assets/img/camara.png">
    </ion-card-content>
    </div>

    <div text-center (click)="tomarFoto(1)">
        <ion-card-content class="imgFotos" *ngIf="photos.get(1)">
            <img [src]="photos.get(1)">
        </ion-card-content>
    </div>
    <!-- <ion-button class="btn_capturar" color="danger" expand="block" (click)="tomarFoto(1)" *ngIf="photos.get(1)">
    <ion-ripple-effect></ion-ripple-effect>
    Volver a capturar 
    </ion-button> -->
    </div>

    <ion-item class="item_ingreso" *ngIf="existe_vivienda">
        <ion-label>¿Ingresó a la vivienda?</ion-label>
        <p *ngIf="!ingreso">No</p>
        <p *ngIf="ingreso">Si</p>
        <ion-toggle [(ngModel)]="ingreso" (ionChange)="change()" color="primary"></ion-toggle>
    </ion-item>

<div text-center *ngIf="ingreso && existe_vivienda">

    <ion-item class="item_specifying">
        <ion-label>Fotografía del interior de la vivienda</ion-label>
    </ion-item>

    <div (click)="tomarFoto(2)">
      <ion-card-content class="imagenes" *ngIf="!photos.get(2)" color="darck">
          <img src="assets/img/camara.png">
      </ion-card-content>
    </div>

    <div (click)="tomarFoto(2)">
        <ion-card-content class="imgFotos" *ngIf="photos.get(2)">
            <img [src]="photos.get(2)">
        </ion-card-content>
    </div>

        <!-- <ion-button class="btn_capturar" color="danger" expand="block" (click)="tomarFoto(2)" *ngIf="photos.get(2)">
        <ion-ripple-effect></ion-ripple-effect>
        Volver a capturar 
    </ion-button> -->
</div>

<ion-list *ngIf="!ingreso && existe_vivienda">
        <ion-list-header>
                <ion-label>Seleccione razón por lo cuál no se capturó fotorafía del interior de la vivienda</ion-label>
        </ion-list-header>
        <ion-radio-group>
          <ion-item *ngFor="let razon of razon_array">
            <ion-label>{{razon.razon}}</ion-label>
            <ion-radio slot="start" (click)="razon_no_entro(razon)"></ion-radio>
          </ion-item>
        </ion-radio-group>
</ion-list>

<ion-list *ngIf="!existe_vivienda">
        <ion-list-header>
                <ion-label>Seleccione razón por lo cuál no se capturó ninguna fotografía</ion-label>
        </ion-list-header>
        <ion-radio-group>
          <ion-item *ngFor="let razon of razon_no">
            <ion-label>{{razon.razon}}</ion-label>
            <ion-radio slot="start" (click)="razon_no_fotos(razon)"></ion-radio>
          </ion-item>
        </ion-radio-group>
</ion-list>

<!-- <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button class="btn_block" expand="block" fill="outline" (click)="regresar()">Regresar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="btn_final" expand="block" (click)="sendPhoto()">Finalizar visita</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <ion-button class="btn_final" expand="block" (click)="sendPhoto()">Finalizar visita</ion-button>
</div>

<div *ngIf="pService.procesoFinalizado">
    <ion-button class="btn_block" expand="block" fill="outline" (click)="irLista()">Ir a menu de visitas</ion-button>
    <br>
    <ion-button class="btn_final" expand="block" (click)="salirApp()">Salir de la aplicacion</ion-button>
</div>

</ion-content>
