<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div slot="end">
            <img src="../../../assets/img/logo_mini.png" class="style_logo_header">
        </div>
        <!-- <ion-title>Consulta similitud Confirmacion</ion-title> -->
    </ion-toolbar>
</ion-header>

<ion-content>

    <div *ngIf="fag">
        <div>
            <br>
            <ion-row justify-content-center align-items-center>
                <ion-col justify-content-center align-items-center>
                    <div class="" text-center>Verificación de datos extraídos</div>
                </ion-col>
                <ion-item-divider></ion-item-divider>
            </ion-row>
        </div>
        <ion-grid fixed>
            <ion-row justify-content-center align-items-center>
                <ion-col size="10" align-self-center>
                    <form *ngIf="infoClienteForm" [formGroup]="infoClienteForm">
                        <ion-item>
                            <ion-label position="stacked">Nombre*: </ion-label>
                            <ion-input formControlName="nombre"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Apellido paterno*: </ion-label>
                            <ion-input formControlName="paterno"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Apellido materno*: </ion-label>
                            <ion-input formControlName="materno"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Sexo*:</ion-label>
                            <ion-select formControlName="sexo" okText="Ok" cancelText="Cancelar">
                                <ion-select-option *ngFor="let g of catalogoSexo">{{g.name}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Fecha de nacimiento*:</ion-label>
                            <ion-datetime display-format="DD MMMM YYYY" formControlName="nacimiento"></ion-datetime>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">CURP: </ion-label>
                            <ion-input formControlName="curp"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">RFC*: </ion-label>
                            <ion-input formControlName="rfc"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Año de registro:</ion-label>
                            <ion-input formControlName="anioRegistro"></ion-input>
                            <!-- <ion-datetime display-format="YYYY" formControlName="anioRegistro"></ion-datetime> -->
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Emisión:</ion-label>
                            <ion-input formControlName="emision" type="number"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Clave de elector: </ion-label>
                            <ion-input formControlName="claveElector"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Vigencia*: </ion-label>
                            <ion-input formControlName="vigencia" type="number"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Teléfono*: </ion-label>
                            <ion-input type="tel" placeholder="Celular a 10 dígitos" formControlName="telefono"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">OCR: </ion-label>
                            <ion-input formControlName="ocr"></ion-input>
                        </ion-item>
                    </form>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div *ngIf="!fag">
        <ion-progress-bar type="indeterminate"></ion-progress-bar>
        <h1 class="ion-text-center">Obteniendo tus datos</h1>
        <ion-list *ngIf="!fag">
            <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1,1]" class="animated flash slow infinite">
                <ion-label>
                    <h3>
                        <ion-skeleton-text width="30%"></ion-skeleton-text>
                    </h3>
                    <h3>
                        <ion-skeleton-text width="100%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text width="100%"></ion-skeleton-text>
                    </p>
                </ion-label>
                <ion-label slot="end" text-right>
                    <ion-skeleton-text width="50%"></ion-skeleton-text>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-button color="primary" expand="block" (click)="obtenerDatos()" [disabled]="infoClienteForm && infoClienteForm.invalid">
            <ion-ripple-effect></ion-ripple-effect>
            CONTINUAR
        </ion-button>
    </ion-toolbar>
</ion-footer>