.style_header_col {
    margin-top: 15px;
    border-top: dashed;
    border-bottom: dashed;
    border-color: #afaca2;
}
.style_row_table {
    border-bottom: 2px dashed;
    border-color: #afaca2;
    margin-top: 15px;
}