<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div slot="end">
            <img src="../../../assets/img/logo_mini.png" class="style_logo_header">
        </div>
        <!-- <ion-title>Pasaporte-identificacion</ion-title> -->
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <br>
        <ion-row justify-content-center align-items-center>
            <ion-col justify-content-center align-items-center>
                <div class="" text-center>Digitalización de pasaporte</div>
            </ion-col>
            <ion-item-divider></ion-item-divider>
        </ion-row>
    </div>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="4" align-self-center>
                <div (click)="getImagenFront()">
                    <ion-card-content class="imagenes" *ngIf="!frontImg" color="darck">
                        <img src="../../../../assets/img/agre_img.png">
                    </ion-card-content>
                </div>
                <div (click)="getImagenFront()">

                    <ion-card-content class="imgFotos" *ngIf="frontImg">
                        <img [src]="frontImg">
                    </ion-card-content>
                </div>
                <div class="custom-file ">
                    <input #img_file type="file" class="custom-file-input" id="customFile" (change)="changeListenerF($event)" accept="image/jpeg,image/png">
                    <label class="custom-file-label" for="customFile"></label>
                </div>
            </ion-col>
            <ion-col size="8" align-self-center>
                <span>Escanea el frente de tu pasaporte</span>
                <ion-button class="ion-margin-top" expand="block" fill="outline" (click)="getImagenFront()" *ngIf="!frontImg">
                    <ion-spinner *ngIf="isValidoSpinnerFront" name="bubbles"></ion-spinner>
                    <ion-ripple-effect></ion-ripple-effect>
                    Frontal
                </ion-button>
                <ion-button class="color_button" expand="block" (click)="getImagenFront()" *ngIf="frontImg">
                    <ion-ripple-effect></ion-ripple-effect>
                    Completado
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>
<ion-footer>
    <ion-toolbar>
        <!--  [disabled]="!isenabled || !isenabled2"  -->
        <ion-button color="primary" class="" expand="block" (click)="extraerOCR()">
            <ion-ripple-effect></ion-ripple-effect>
            CONTINUAR
        </ion-button>
    </ion-toolbar>
</ion-footer>