.item_result {
    display: contents;
    --border-bottom: var(--border-style);
    --border-color: #FDB813;
}

.btn_line{
    --border-color: #FDB813;
    color: #FDB813;
}

.btn_block{
    --background:  #018A5E;
}