ion-content {
  --background: url("../../../assets/img/fondo_Verde.png"); 
  --background-size: cover;
  --background-repeat: no-repeat;
}

.button-outline {
  --border-width: 2px;
  --border-color: #f6a705;
}

.style_hs {
  color: #ffffff !important;
}

.style_logo {
  margin-top: 30px;
}

.header_logo{
  border-bottom: 2px solid #018A5E;
  border-top: 2px solid #018a5e;
  border-right: 2px solid #018A5E;
  border-left: 2px solid #018A5E;
}

.datos_input {
  background-color: transparent;
  margin: 0 0 25px 0;
  border-bottom: 1px solid white;
  --color: #ffffff !important;
}

.boton_style{
  /* --background: #fff !important; */
  --color: #ffffff !important;
}

.icono_sig{
    font-size: 20px;
}

.sc-ion-card-md-h{
  --background: transparent;
  padding-bottom: 0px;
  margin-top: 10%;
  box-shadow: none;
}
  
  .error-message
{
  color: red;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}

.logo-frd {
  width: 70%;
  margin-left: 15%;
}