.style_pad {
    border: dotted;
    border-color: #018A5E;
    widows: 100%;
}

.btn-cancelar {
    background-color: #ffd200 !important;
    border-color: #ffd200 !important
}

.check-si {
    padding-right: 0px
}

.check-no {
    padding-left: 3px
}